@import 'base/var';
@import 'modules/module';
@import 'mixins/mixin';
@import 'page/index';
@import 'page/aboutus';
@import 'layout/header';
@import 'layout/footer';
// @import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


/*--bootstrap end --*/

//function


.box {
    @include rect(300px);
    @include marginAuto();
}

.box-1 {
    @include rect(200px);
    @include marginAuto()
}




.box-4 {
    @include opacity(70);
    @include rects(100px, 200px, #333);
}

$a1 : 300px;
$a1 : 100px !default;

.a1 {
    width: $a1;
}




.btn {
    @include btn(3px, 5px, #333, #f20, 5px);
}

.btn-w {
    @include btn(10px, 3px, #999, rgb(255, 204, 0))
}

//預設值
@mixin rectall($w:300px, $h:300px) {
    width: $w;
    height: $h;
}

.rect {
    @include rectall(400px, 200px);
}

body {
    padding: 90px;
    font-size: $font-size;
    color: $color;
    margin: $margin;
    background-color: map-get($bgcolor, 'blue');

    * {
        box-sizing: border-box;
    }

    .container {
        width: 100vw;
        height: 100vh; //高度

        h1 {
            font-size: $font-size;
            /*----*/
        }

        .content {
            width: 80%;

            .sidebar {
                width: 30%;
            }
        }
    }
}


// 繼承
.red {
    color: red;
    background-color: red;
}

.blue {
    color: blue;
    background-color: blue;
}

.boxblue {
    width: 100px;
    height: 300px;
    @extend .blue;
}

.boxRed {
    width: 300px;
    height: 400px;
    @extend .red;
}


.bb {
    width: 100px + 100;
    height: 100px - 20px;
    margin: 10px * 10;
    font: (100 / 20) + px; //除法要括號
}

.cc {
    width: ceil(78.95px); //無條件進位
    height: round(67.45px); // 四捨五入
    padding: floor(56.34px); //無條件捨去
}

@mixin fontSize($font-base-size) {
    h1 {
        font-size: ceil($font-base-size * 4.2);
    }

    h2 {
        font-size: ceil($font-base-size * 3.8);
    }

    h3 {
        font-size: ceil($font-base-size * 2.5);
    }

    h4 {
        font-size: ceil($font-base-size * 1.5);
    }

    h5 {
        font-size: ceil($font-base-size * 1.2);
    }
}

@include fontSize(15px);

@for $i from 1 through 10 {
 //數值轉字串 
  .dot-#{$i} {
      width: $i * 1px;
  }
}

@mixin grid($col) {
    @for $i from 1 through $col {
        .col-md-#{$i} {
          width: ($i /$col) * 100%;
        }
     }
}

@include grid(24);






// .col-md-1 {
//  width: 8.3333% ;
// }

// .col-md-2 {
//     width: 16.666% ;
//    }


