#leftbox {
    width: 240px;
    height: 240px;
    border: 3px dotted red;
    padding: 5px;
    margin: 5px;

    float: left;
}

#rightbox {
    width: 240px;
    height: 240px;
    border: 3px dotted blue;
    padding: 5px;
    margin: 5px;

    float: left;
}
