@import './common/all.css';
@import './common/header.css';
@import './common/footer.css';

.mobile_des {
    color: #90604c;
    font-weight: 700;
}
.bgimg {
    width: 100%;
    background-image: url(../images/desmbg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.des_intro {
    /* border: 1px solid red; */
    padding-top: 7rem;
    text-align: center;
}
.desName {
    /* border: 1px solid black; */
    color: ivory;
    text-shadow: 0px 0px 5px black;
    font-size: 48px;
}
.des_intro > .desTit {
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: -0.5rem;
    padding-left: 20rem;
    width: 60%;
    font-family: 'Cormorant Upright', serif;
    color: rgba(255, 255, 240, 0.8);
    text-shadow: 0px 0px 5px black;
}
@media (max-width: 1200px) {
    .des_intro > .desTit {
        margin-top: 0rem;
        padding-left: 0rem;
        width: 60%;
    }
}
@media (max-width: 768px) {
    .des_intro > .desTit {
        margin-top: 0rem;
        padding-left: 0rem;
        width: 90%;
    }
}
@media (max-width: 576px) {
    .bgimg {
        background-image: url(../images/bgmarble.jpg);
        background-attachment: scroll;
        background-size: contain;
    }
    .desName {
        font-size: 30px;
    }
    .des_intro > .desTit {
        font-size: 16px;
        text-shadow: 1px 1px 2px black;
    }
}

.work {
    /* 要有這個border margin 才會在 */
    border: 1px solid rgba(255, 0, 0, 0);
    margin-top: 3rem;
    width: 100%;
}
.workOut {
    /* border: 1px solid blue; */
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.WDress {
    width: 30%;
}

.WDress_Box {
    width: 90%;
    position: relative;
    margin: 1.5rem auto;
}
.WDress_Box img {
    display: flex;
}
.WDress_BoxCon {
    /* border: 1px solid red; */
    width: 100%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;
    align-items: center;
}
.WDress_BoxConTit {
    padding-top: 5px;
    color: ivory;
    text-shadow: 0px 0px 5px black;
}
button {
    border: 1px solid ivory;
    background: rgba(0, 0, 0, 0.3);
    height: 90%;
    border-radius: 10px;
    cursor: pointer;
}
.page {
    width: 60%;
    display: flex;
    justify-content: center;
}
.page > a {
    padding-top: 5px;
    width: 5%;
}
.fa-chevron-right {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .WDress {
        width: 50%;
    }
    .work05,
    .work07 {
        margin-top: -120px;
    }
    .work09 {
        display: none;
    }
}
@media (max-width: 768px) {
    .WDress {
        width: 100%;
    }
    .work05,
    .work07 {
        margin-top: 0px;
    }
    .work09 {
        display: block;
    }
    .page {
        justify-content: space-around;
    }
}
@media (max-width: 576px) {
    .workOut {
        background-color: rgba(255, 255, 240, 0);
    }
}

.desm_deco {
    width: 100%;
    display: flex;
    background-image: url(../images/bgtree.jpg);
}
.desm_deco img {
    /* border: 1px solid blue; */
    width: 15%;
    margin: 2rem auto;
}

@media (max-width: 576px) {
    .desm_deco img {
        width: 30%;
        margin: 1.5rem auto;
    }
}
@media (max-width: 414px) {
    .desm_deco img {
        height: 65px;
    }
}
@media (max-width: 375px) {
    .rdesm_deco img {
        height: 60px;
    }
}
@media (max-width: 320px) {
    .desm_deco img {
        height: 50px;
    }
}

.desm_res {
    width: 100%;
    background-image: url(../images/desm_bg.png);
    background-size: cover;
    background-position: center center;
}
.desm_resOut {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desm_resText {
    font-size: 44px;
    text-align: center;
    font-family: 'Cormorant Upright', serif;
    font-style: italic;
    color: white;
    text-shadow: 5px 5px 10px black;
    margin-top: 30px;
}
.desm_resBtn {
    width: 40%;
    text-align: center;
    margin: 40px auto 32px auto;
    padding: 15px 10px 8px 10px;
    border: 2px solid ivory;
    color: ivory;
    text-shadow: 5px 5px 10px black;
    box-shadow: 3px 3px 10px ivory;
}

.desm_resBtn:hover {
    color: ivory;
    background-color: #90604c;
}

@media (max-width: 992px) {
    .desm_resOut {
        width: 100%;
    }
    .desm_resBtn {
        width: 50%;
    }
}
@media (max-width: 768px) {
    .desm_resText {
        font-size: 30px;
    }
    .desm_resBtn {
        font-size: 24px;
    }
}
@media (max-width: 576px) {
    .desm_resBtn {
        width: 70%;
    }
}
