@import './common/all.css';
@import './common/header.css';
@import './common/footer.css';

.min_nav > ul > li.designers {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0), #e1d3b6);
}
div.bannerbg {
    background-image: url(../images/designers_banner.png);
    height: 90vh;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.mobile_des {
    color: #90604c;
    font-weight: 700;
}
.des_are1 {
    width: 100%;
}
.des_intro {
    width: 70%;
    height: 220px;
    margin: -5rem auto 0 auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.des_introTitle {
    margin: 0 auto;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.des_introTitle > img {
    width: 5rem;
    height: 5rem;
}
.des_introTitle_1 {
    font-size: 2rem;
    margin: -3rem auto 0 auto;
}
.des_introContent {
    margin: 0 auto;
    font-size: 1.5rem;
}
@media (max-width: 992px) {
    .des_introTitle {
        font-size: 1.5rem;
    }

    .des_introTitle_1 {
        font-size: 1.5rem;
    }
    .des_introContent {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    div.bannerbg {
        width: 100%;
        height: 90vh;
    }
    .des_intro {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .des_intro {
        height: 150px;
    }
    .des_introTitle {
        font-size: 1.1rem;
    }
    .des_introTitle > img {
        width: 3rem;
        height: 3rem;
    }
    .des_introTitle_1 {
        font-size: 1.1rem;
    }
    .des_introContent {
        font-size: 0.9rem;
    }
}
.des_area2 {
    width: 100%;
    margin: 2rem 0;
}

.des_introdeco {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.des_introdeco img {
    width: 35px;
    margin: 10px auto;
}

/* ---------main START------- */
.des_main {
    /* border: 1px solid red; */
    width: 100%;
    background-image: url(../images/bgtree.jpg);
    background-attachment: fixed;
}
.des_mainOut {
    /* border: 1px solid blue; */
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.des_detail {
    /* border: 1px solid green; */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    -webkit-filter: grayscale(100%); /* Safari */
    filter: grayscale(100%);
    transition: 0.5s;
}
.des_detail:hover {
    -webkit-filter: grayscale(0%); /* Safari */
    filter: grayscale(0%);
}
.des_left {
    /* border: 1px solid black; */
    width: 23%;
}
.des_left img {
    display: flex;
}
.des_right {
    display: flex;
    width: 77%;
}
.des_right02 {
    flex-direction: row-reverse;
}
.des_textbox {
    /* border: 1px solid red; */
    width: 50%;
    line-height: 1.5;
    margin-left: -30px;
    margin-top: 60px;
    padding: 0 50px;
    color: #90604c;
    text-align: center;
    /* box-shadow: 7px 7px 8px gray; */
}
.des_textboxTit {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-shadow: 3px 3px 0px #e1d3b6;
}
.des_work {
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.des_work > img {
    /* position: absolute; */
    border-radius: 10px;
}
.des_more {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding: 14px 0 10px 0;
    font-size: 1.2rem;
    background-color: #e1d3b6;
    color: #90604c;
}
.des_more:hover {
    color: ivory;
    background-color: #90604c;
}

.des_detail02 {
    display: flex;
    flex-direction: row-reverse;
}
.des_desinger02,
.des_desinger03 {
    margin-top: 3rem;
}

@media (max-width: 1200px) {
    .des_left {
        /* border: 1px solid black; */
        width: 30%;
    }
    .des_right {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
    }
    .des_textbox {
        margin: 0;
        width: 90%;
    }
    .des_work {
        width: 90%;
    }
    .des_work img {
        width: 60%;
        margin: 0 auto;
    }
    .des_more {
        width: 50%;
        margin: 1rem auto;
        padding: 10px 0 6px 0;
        font-size: 1.1rem;
    }
}
@media (max-width: 1024px) {
    .des_detail {
        /* border: 1px solid green; */

        -webkit-filter: grayscale(0%); /* Safari */
        filter: grayscale(0%);
        transition: 0.5s;
    }
    /* .des_detail:hover {
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%);
    } */
}
@media (max-width: 992px) {
    .des_detail {
        /* border: 1px solid blue; */
        flex-direction: column;
    }
    .des_left {
        /* border: 1px solid black; */
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }
    .des_left img {
        margin: 0 auto;
        width: 60%;
    }
    .des_right {
        margin: 0 auto;
        width: 80%;
    }
    .des_textbox {
        margin: 0 auto;
        width: 90%;
    }
    .des_work {
        margin: 0 auto;
        width: 90%;
    }
    .des_work img {
        width: 70%;
    }
}
@media (max-width: 768px) {
    .des_mainOut {
        width: 95%;
    }

    .des_right {
        width: 90%;
    }
    .des_textbox {
        padding: 10px;
    }
    .des_textboxTit {
        font-size: 1.3rem;
    }
    .des_work img {
        width: 100%;
    }
    .des_more {
        width: 90%;
    }
}
