@import './common/all.css';
@import './common/header.css';
@import './common/footer.css';
.min_nav > ul > li.portfolio {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0), #e1d3b6);
}
.mobile_por {
    color: #90604c;
    font-weight: 700;
}
div.bannerbg {
    /* border: 1px solid black; */
    background-image: url(../images/pf01.jpg);
    height: 90vh;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: center left; */
    margin: 0 auto;
}

.pf_area1 {
    width: 100%;
}
.pf_intro {
    /* border: 1px solid red; */
    width: 70%;
    height: 200px;
    margin: -5rem auto 0 auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pf_introTitle {
    margin: 0 auto;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.pf_introTitle_1 {
    font-size: 2rem;
    margin: -3rem auto 0 auto;
}
/* .pf_introContent {
    margin: 0 auto;
    font-size: 1.5rem;
} */
.pf_introTitle > img {
    /* border: 1px solid red; */
    width: 5rem;
    height: 5rem;
}

@media (max-width: 1200px) {
    .pf_introTitle {
        font-size: 1.5rem;
    }
}
@media (max-width: 992px) {
    div.bannerbg {
        width: 100%;
        height: 90vh;
    }
    .pf_intro {
        width: 100%;
    }
    .pf_introContent {
        font-size: 1rem;
    }
    .pf_introTitle_1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .pf_intro {
        height: 150px;
    }
    .pf_introTitle {
        font-size: 1.1rem;
    }
    .pf_introTitle > img {
        width: 3rem;
        height: 3rem;
    }
}
@media (max-width: 576px) {
    .pf_introContent {
        font-size: 0.9rem;
    }
    .pf_introTitle_1 {
        font-size: 1.1rem;
    }
}

.pf_area2 {
    /* border: 1px solid blue; */
    width: 100%;
    margin: 1rem 0;
}

.pf_introdeco {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.pf_introdeco img {
    /* border: 1px solid blue; */
    width: 35px;
    margin: 10px auto;
}

@media (max-width: 576px) {
    .pf_area2 {
        margin: 0 auto;
    }
}

/* waterfall */

.pfNext_Bottom {
    width: 90%;
    margin: 0 auto;
}

/* force scrollbar */
html {
    overflow-y: scroll;
}

/* ---- grid ---- */

.grid {
    margin-bottom: 3rem;
    margin: 0 auto;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.3%;
    padding: 10px;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    /* cursor: pointer; */
}
.grid-item img:hover {
    opacity: 0.7;
    transform: scale(0.9, 0.9);
}
@media (max-width: 1200px) {
    .grid {
        margin-bottom: 0rem;
    }
    .grid-sizer,
    .grid-item {
        padding: 5px;
    }
}
@media (max-width: 768px) {
    .pfNext_Bottom {
        width: 95%;
    }
    .grid-sizer,
    .grid-item {
        padding: 3px;
    }
}
@media (max-width: 576px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}
