<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Vue -- 計算屬性</title>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script> -->
        <script src="../js/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <p>現在時間:{{now}}</p>
            <p>
                <label>Height: </label>
                <input type="text" v-model="height" />
            </p>
            <p>
                <label>Weight: </label>
                <input type="text" v-model="weight" />
            </p>
            <p>Your BMI is {{calculate}}.</p>
        </div>

        <script>
            // BMI -->體重(公斤) / (身高/100)的平方
            new Vue({
                el: '#app',
                data: {
                    //變數存放的地方
                    height: 0,
                    weight: 0,
                    // BMI: 0,
                },
                methods: {
                    //函數放這裡
                },
                computed: {
                    //也是放函數,放在這裡的函數,不能傳參數,一定要有傳回值(return)
                    now() {
                        let meanless = this.height + this.weight;
                        return new Date();
                    },
                    calculate() {
                        if (this.weight > 0 && this.height > 0) {
                            BMI = this.weight / Math.pow(this.height / 100, 2);
                            BMI = BMI.toFixed(2);
                            return BMI;
                        } else {
                            return 0;
                        }
                    },
                },
            });
        </script>
    </body>
</html>
