* {
    box-sizing: border-box;
    /* outline: 3px solid black; */
}
body {
    font-family: 'Josefin Sans', sans-serif, '微軟正黑體';
    color: #231815;
}
a {
    color: #231815;
    text-decoration: none;
}
img {
    max-width: 100%;
}
