footer {
    width: 100%;
    background-color: #81501c31;
    /* margin-top: 32px; */
}
div.footer {
    width: 90%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.info {
    color: #81501c;
    font-size: 18px;
    line-height: 2rem;
    padding: 1rem;
}

.socialmed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fab {
    margin: auto 20px;
}
@media (max-width: 1200px) {
    .info {
        font-size: 16px;
        line-height: 1.5rem;
        padding: 0rem;
    }
    .fab {
        margin: auto 10px;
    }
}
@media (max-width: 650px) {
    div.footer {
        flex-direction: column;
        justify-content: space-around;
    }
    .info {
        font-size: 14px;
        line-height: 1rem;
    }
    
